header#main-header {
	background-color: #fff;
	border-radius: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 30px);
	flex-direction: row;
	padding: 0.5em 2em;
	border: 2px solid var(--color-negro);
	margin: 1em auto;
	position: fixed;
	left: 15px;
	z-index: 9;
}

header#main-header nav {
	padding: 0.5em 1em;
	color: #000;
}

/* LINKS DEL HEADER */
.nav-link {
	color: #000;
	margin: 1em;
	padding: 0.8em 1.5em;
	border-radius: 2em;
	transition: all 0.3s ease;
	font-size: 20px;
	font-family: var(--font-display);
	text-transform: uppercase;
	font-variation-settings: "wght" 100;
}

.nav-link:hover,
.nav-link.active {
	font-variation-settings: "wght" 400;
	background-color: var(--color-naranja);
	color: #fff;
}


/* LOGO */
#mono {
	width: 40px;
	height: auto;
	margin-left: 1em;
	fill: var(--color-naranja);
	text-align: center;
	padding: 0;
}