:root {
    --scroll-background: var(--color-negro);;
    --scroll-foreground: var(--color-naranja);
    --scroll-background-over: var(--color-blanco);;
    --scroll-size: 10px;
}

::-webkit-scrollbar {
    background-color: var(--scroll-background);
    height: var(--scroll-size);
    width: var(--scroll-size);
}

::-webkit-scrollbar-track {
    background-color: var(--scroll-background);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-foreground);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-background-over);
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}