#titulo-variable {
    font-family: 'Ecos Del Anden';
    overflow: hidden;
    white-space: nowrap;
    font-size: 24vw;
    color: var(--color-naranja);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-variation-settings: "wght" 100;
    line-height: .8em;
    display: flex;
    justify-content: space-evenly;
    cursor: default;
    padding-top: 1em;
}

#titulo-variable span {
    display: inline-block;
    color: var(--color-naranja);
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-variation-settings: "wght" 100;
    line-height: .8em;
    transition: all .35s ease-in-out;
    -webkit-text-stroke: 1px var(--color-naranja);
    color: white;
}

#titulo-variable span:hover {
    font-variation-settings: "wght" 900;
}