<footer id="footer-home">
  <div class="footer-container">

    <!-- Botón de Instagram -->
    <div class="footer-btn redes">
      <a href="https://www.instagram.com/ecos.del.anden/" 
         target="_blank" 
         rel="noopener">
         Instagram
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>

    <!-- Botón CENTRO -->
    <div class="footer-btn centro">
      <a href="https://centro.edu.mx/licenciaturas/?gad_source=1&gad_campaignid=22526260794&gbraid=0AAAAADFvwda3E20fAtTJQJIX24se93eSO&gclid=CjwKCAiA55rJBhByEiwAFkY1QEbu2tp5Dv1CD3kp7GbR1gdtzZxtDWcx56ZWHi3J11XWxGRcvXlDoxoCTQoQAvD_BwE"
         target="_blank" 
         rel="noopener">
         CENTRO.
      </a>
    </div>

    <!-- Botón Contacto -->
    <div class="footer-btn contacto"> 
      <a href="{{ '/contacto.html' | relative_url }}">Contáctanos</a>
    </div>

  </div>
</footer>
