<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecos de anden</title>
    <!-- favicon -->
 <link rel="icon" type="image/png" href="/Ecosdelanden/img/favicon.svg?v=4" />

    <!-- Open Graph Metadata -->
    <meta property="og:title" content="Ecos del Andén">
    <meta property="og:description" content="Proyecto de investigación sobre accesibilidad en el Metro de la CDMX. Documentamos cómo cinco grupos —embarazadas, personas con bastón, ciegas o con baja visión, niñas y niños, y usuarias de silla de ruedas— deben adaptarse a la infraestructura existente. Mapeamos barreras, estrategias y su costo en tiempo, esfuerzo y riesgo, y proponemos mejoras concretas basadas en evidencia, relatos y registros de campo.">
    <meta property="og:url"content="https://github.com/rhernandezgar-code/Ecosdelanden">
    <meta property="og:type" content="website">
    <!-- css -->
    <link rel="stylesheet" href="https://use.typekit.net/oww5xhn.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/header.css">
</head>
