<header id="main-header">
  <nav>
    <a class="nav-link" id="home-link" href="{{ '/' | relative_url }}" title="Ir a Inicio">
      <img src="./img/centro-logo.svg" alt="CENTRO Logotipo" width="100" height="20">
    </a>
    <a class="nav-link" id="mapa-ruta-link" href="{{ '/guia.html' | relative_url }}" title="Mapa de Ruta">
      <i class="fa-solid fa-map-location-dot"></i>
      <span class="nav-text">Mapa de Ruta</span>
    </a>
    <a class="nav-link" id="guia-estilo-link" href="{{ '/componentes.html' | relative_url }}" title="Kit de Viaje">
      <i class="fa-solid fa-suitcase"></i>
      <span class="nav-text">Kit de Viaje</span>
    </a>
    <a class="nav-link" id="rubrica-link" href="{{ '/rubrica.html' | relative_url }}" title="Reglamento de Evaluación">
      <i class="fa-solid fa-signs-post"></i>
      <span class="nav-text">Señalamientos</span>
    </a>
    <a class="nav-link" id="proyectos-link" href="{{ '/proyectos.html' | relative_url }}" title="Nos vemos en el Punto de Encuentro">
      <i class="fa-solid fa-location-dot"></i>
      <span class="nav-text">Destino</span>
    </a>
  </nav>
</header>