<header id="main-header">
  <nav>
    <a class="nav-link" id="home-link" href="{{ '/' | relative_url }}" title="Ir a Inicio">
      <img src="./img/centro-logo.svg" alt="CENTRO Logotipo" width="100" height="20">
    </a>
    <a class="nav-link" id="mapa-ruta-link" href="{{ '/about.html' | relative_url }}" title="About">
      <i class="fa-solid fa-map-location-dot"></i>
      <span class="nav-text">About</span>
    </a>
    <a class="nav-link" id="guia-estilo-link" href="{{ '/metodologia.html' | relative_url }}" title="metodologia">
      <i class="fa-solid fa-suitcase"></i>
      <span class="nav-text">Metodologia</span>
    </a>
    +
    <!-- <a class="nav-link" id="rubrica-link" href="{{ '/rubrica.html' | relative_url }}" title="Reglamento de Evaluación">
      <i class="fa-solid fa-signs-post"></i>
      <span class="nav-text">Mapa de accesibilidad</span>
    </a>
    <a class="nav-link" id="proyectos-link" href="{{ '/proyectos.html' | relative_url }}" title="Nos vemos en el Punto de Encuentro">
      <i class="fa-solid fa-location-dot"></i>
      <span class="nav-text">Experiencia</span>
    </a> -->
  </nav>
</header>